.login {
    width: 100vw;
    height:100vh;
    background-color: #c7c9ca;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}
.loginLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
        background-color: #c7c9ca;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        width: 480px;
        height: 445px;
    }
}
.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginBox {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
   
}
.loginForm {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}
.loginInput {
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(170, 167, 167);
    font-size: 18px;
    margin: 20px 0 20px 0;
    padding-left: 20px;
}
.loginInput:focus{
    outline: none;
}
.loginButton {
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 0 0;
    cursor: pointer;
}
.loginForgot {
    text-align: center;
    color: rgb(165, 60, 12);
    cursor: pointer;
    margin-top: 20px;
}
.loginRegisterButton {
    height: 50px;
    align-self: center;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;

}
@media screen and (max-width: 600px) {
    .loginWrapper {
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
  
    .loginLeft {
      align-items: center;
      width: 100%;
    }
  
    .loginLeft img {
      width: 80%;
      height: auto;
    }
  
    .loginRight {
      align-items: center;
      width: 100%;
      margin-bottom: 80px;
    }
  
    .loginBox {
      height: 100%;
      width: 80%;
      margin-top: 20px;
    }
  
    .loginInput {
      height: 40px;
      font-size: 16px;
      margin: 10px 0;
    }
  
    .loginButton {
      height: 40px;
      font-size: 18px;
      margin: 10px 0;
    }
  
    .loginForgot {
      margin-top: 10px;
    }
  
    .loginRegisterButton {
      height: 40px;
      font-size: 18px;
      margin-top: 10px;
    }
  }