.favorite {
    padding: 20px;
    gap: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-height: 90vh;
    .title {
        font-weight: 900;
        font-size: 36px;
        text-transform: uppercase;
       
    }

        .itemContainer {
            padding: 10px;
           
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 80%;
            .item {
                border-radius: 5px;
                background-color: white;
                padding: 15px;
                display: flex;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
                gap: 20px;
                margin-bottom: 20px;
                align-items: center;
                justify-content: space-between;
                img {
                    border: 1px solid white;
                    border-radius: 5px;
                    width: 160px;
                    height: 200px;
                    object-fit: cover;
                    
                }
                .detailsContainer{ 
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    height: 100%;
                    .details {
                       gap: 26px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        h1{
                            font-size: 18px;
                            font-weight: 500;
                        }
                        p{
                            color: gray;
                            margin-bottom: 10px;
                            font-size: 14px;
                        }
                        .price {
                            color: blue;
                        }
            
                    }
                    .buttons {
                        display: flex;
                        flex-direction: column;
                        
                        justify-content: space-around;
                        .add {
                            width: 150px;
                            padding: 5px;
                            background-color: black;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                          
                            cursor: pointer;
                            gap: 10px;
                            font-weight: 600;
                        }
                    
                    .delete {
                        
                        width: 150px;
                            padding: 5px;
                            background-color: rgb(184, 43, 40);;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                      
                            cursor: pointer;
                            gap: 10px;
                            font-weight: 600;
                        
                        }
                }
               
                    
                }
            }
            
         
        
    }

}