.products {
    padding: 30px 50px;
    display: flex;
    .left {
        flex: 1;
        
        height: 100%;
        top: 90px;
        

        .filterItem {
            margin-bottom: 30px;
            
            h2 {
                font-weight: 400;
                margin-bottom: 20px;
                
            }

            .inputItem {
                margin-bottom: 10px;
                label {
                    margin-left: 10px;
                    
                }
            }
        }
    }
    .right {
        flex: 3;

        .catImg {
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin-bottom: 50px;
        }
    }
    
}
@media (max-width: 768px) {
    .products {
    flex-direction: column;
    width: 95vw;
    padding: 10px 0;
    .left {
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    
    .filterItem{
        font-size: 12px;
        margin: 0;
        width: 100%;
    }
    }
    
    .right {
    flex: 1;
    margin-left: 10px;
    
    .catImg {
    height: 120px;
    }
    }
    }
    
    
}