.slider {
    height: calc(70vh);
    width: 100%;
    position: relative;
    overflow: hidden;
    
    .container {
        width: 300%;
        height: 100%;
        display: flex;
        transition: all 1s ease;
        img {
            width: 33.33%;
            height: auto;
            object-fit: cover;
        }
    }
    .icons{
        width: fit-content;
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        gap: 5px;
        margin: auto;

        .icon {
            width: 30px;
            height: 30px;
            border: solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    @media (max-width: 764px) {
        height: calc(50vh);

        .container {
            img {
                width: 33.33%;
            }
        }

        .icons {
            bottom: 10px;
            gap: 30px;
            .icon {
                width: 40px;
                height: 40px;
            }
        }
    }
}